.rightButton {
    height: calc((100vh - 60px)/9);
}

.rightButton .BL {
    margin: 1px 1px 1px 13px;
}

.rightButton .BR {
    margin: 1px 14px 1px 1px;
}

.rightButton .BC {
    margin: 1px 14px 1px 13px;
}

.header-fixed {
    width: 100%
}
.selected {
    background-color: cornsilk;
    border: 1px solid black;
}

.header-fixed>thead,
.header-fixed>tbody,
.header-fixed>thead>tr,
.header-fixed>tbody>tr,
.header-fixed>thead>tr>th,
.header-fixed>tbody>tr>td {
    display: block;
}

.header-fixed>tbody>tr:after,
.header-fixed>thead>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed>tbody {
    overflow-y: auto;
    height: calc(100vh - 300px);
    ;
}

.header-fixed>tbody>tr>td,
.header-fixed>thead>tr>th {
    float: left;
}

.header-fixed>tbody>tr>td {
    height: 3.5em;

}

@media (max-width: 1199.98px) {
    .Hideifsmall {
        visibility: hidden;
        display: none;
        background-color: antiquewhite;
    }
}

.Item-Box {
    height: 270px;
    border-radius: 10px;
    box-shadow: -4px -4px gray;
    margin: 4px;
    width: 235px;
    display: inline-block;


}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}